# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Секреты
*.key
*.token
.env

# Java/Maven
target/
*.class
*.jar

# IDE
.idea/
*.iml
*.iws

# Система
.DS_Store
Thumbs.db
app/data/*.db
terraform/terraform.exe
terraform/*.exe

# Terraform secrets and state
terraform/*.tfvars
terraform/terraform.tfstate*
terraform/.terraform.lock.hcl

# Exported dumps (безопасность)
hospital-project-output.*
*.md
